h1 { text-align: center;}
h1 {
    color: ghostwhite
}
h2 {
    color: ghostwhite
}
body
{
    background: url(sunset.jpg); width: 1920;
}
h2 {text-align: center;}
button { width: 150px;
height: 100px;
}